<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="org.eclipse.vjet.dev.ide.target" sequenceNumber="31">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.m2e.feature.feature.group" version="1.3.0.20130129-0926"/>
<unit id="org.eclipse.egit.import.feature.group" version="2.3.0.201302060400-rc1"/>
<unit id="org.eclipse.sdk.ide" version="4.3.0.I20130204-1400"/>
<unit id="org.eclipse.egit.feature.group" version="2.3.0.201302060400-rc1"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.5.0.v201209252144-7O7PG-6EMkBN18PfqfVCHa3Q1Xg0GBAZSXqtux8b"/>
<unit id="org.eclipse.wst.xml_sdk.feature.feature.group" version="3.5.0.v201209252144-7A7D18DXJWZY8ESE95idVWtjgRNlkxdgs-hmCZaa"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.5.0.v201301022000-7H7HFiuDxumUsyw5rjcWjPpcr7DdUYKlS9U8WZ"/>
<repository location="http://download.eclipse.org/webtools/downloads/drops/R3.5.0/S-3.5.0M5-20130206143825/repository/"/>
</location>
</locations>
</target>
