<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="org.eclipse.vjet.dev.ide.target" sequenceNumber="23">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.4.1.v201208170345-7H7GFeFDxumUpsw5rgjWnKDrsz0p4ymwjQz00T2S"/>
<repository location="http://download.eclipse.org/webtools/repository/juno/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.egit.feature.group" version="2.1.0.201209190230-r"/>
<unit id="org.eclipse.sdk.ide" version="4.2.1.M20120914-1800"/>
<unit id="org.eclipse.egit.import.feature.group" version="2.1.0.201209190230-r"/>
<unit id="org.eclipse.egit.psf.feature.group" version="2.1.0.201209190230-r"/>
<unit id="org.eclipse.m2e.feature.feature.group" version="1.2.0.20120903-1050"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
</locations>
</target>
